body {
  margin: 0;
}

#usersContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin: 10px;
}

#userData {
  background-color: rgb(177, 209, 202);
  border-radius: 10px;
  text-align: center;
  padding: 12px;
}

#userData > img {
  border-radius: 10px;
}

#header {
  height: 70px;
  display: grid;
  place-content: center;
  background-color: #2d2d3b;
}

#searchInput {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  padding: 0 10px;
  outline: 0;
}

#searchInput::placeholder {
  font-size: 20px;
  text-align: center;
}
.paginationContent {
  display: inline-grid;
  grid-template-columns: repeat(10, auto);
  column-gap: 20px;
  width: max-content;
  margin: 30px;
}

.pageItem {
  background-color: burlywood;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  cursor: pointer;
  border-radius: 10px;
}

.pagination {
  width: max-content;
  margin: auto;
  display: inline-block;
}

.paginationContainer {
  width: max-content;
  margin: auto;
  text-align: center;
}

.pageItem.active {
  background-color: #bebebe;
}

.paginationButton {
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  outline: 0;
}
.paginationButton:hover {
  background-color: #797979;
}
.prevPage,
.nextPage {
  background-color: #3b3b3b;
}

.prevPortion,
.nextPortion {
  background-color: #242438;
}

.paginationButton[disabled] {
  cursor: not-allowed;
}
<<<<<<< HEAD

button[disabled] {
  cursor: not-allowed;
}
=======
>>>>>>> 15a0b5838ab1dcc655ed377735e45a54bb19c466
