body{
    background-color: rgb(102, 209, 228);
    
}
img{
    border: black solid 2px;
    margin-right: 10px;
    float: left;
}
#id_h3{
    border: black 2px solid;
    background-color: cornsilk;
    border-radius: 0px 50px 0px 0px;
    width: 55%;
    height: 100px;
    padding: 15px;
}


#id_h4{
    border: black 2px solid;
    background-color: wheat;
    border-radius: 50px 50px 50px 0px;
    width: 55%;
    height: 105px;
    border-top-left-radius: 1px ;
    border-top-right-radius: 1px ;
    padding: 15px;
}

li{
    list-style-type: none;
}

header{
    padding-left: 18%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input{
   background-color: coral;
}